.navbar .nav li.active:after {
    content: "\f1ac";
    font-family: Ionicons;
    font-style: normal;
    font-size: 42px;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
}

.text {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}