{% extends 'base_layout.html' %} {% block body %}

<body style=" margin-top: 120px;">
    <section class="mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-11">
                    <div class="form-outline mb-3">
                        <input type="text" name="search" class="form-control" />
                        <label for="search" class="form-label">Search</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <a href="{{ url_for('insert') }}" class="btn btn-primary fas fa-plus-square"></a>
                </div>
            </div>
        </div>
    </section>
    {%for message in get_flashed_messages() %} {{ message }} {%endfor %}
    <hr class="my-5">

    <table class="table">
        <thead>
            <tr>

                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Height</th>
                <th>Publisher</th>
            </tr>
        </thead>

        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.height }}</td>
                <td>{{ book.publisher }}</td>
                <td>
                    <a href="/home/{{book.book_id}}/update" class="btn btn-primary far fa-edit"></a>

                    <a href="/home/{{book.book_id}}/delete" class="btn btn-danger far fa-trash-alt"></a>

                </td>
            </tr>



            {% endfor %}
        </tbody>
    </table>



</body>

{% endblock %}