{% extends 'base_layout.html' %} {% block body %}
<!DOCTYPE html>
<html>

<head>
    <title>Update</title>
</head>

<body style="margin-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-md">

            </div>

            <div class="col-md">
                <form action='' method="POST">
            </div>

            <div class="col-md">

            </div>
        </div>
    </div>
</body>
<h1 style="text-align: center;"> {{books.title}} </h1>
<div class="card" style="margin-top:20px;">
    <div class="card-body">
        <h5 class="card-title">Edit Data</h5>
        <form action='' method="POST">
            <div class="form-outline mb-4">
                <input type="text" name="book_id" value="{{books.book_id}}" class="form-control " />
                <label for="book_id" class="form-label">ID</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" name="title" value="{{books.title}}" class="form-control" />
                <label for="title" class="form-label">Title</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" name="author" value="{{books.author}}" class="form-control" />
                <label for="author" class="form-label">Author</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" name="genre" value="{{books.genre}}" class="form-control" />
                <label for="genre" class="form-label">Genre</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" name="height" value="{{books.height}}" class="form-control" />
                <label for="height" class="form-label">Height</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" name="publisher" value="{{books.publisher}}" class="form-control" />
                <label for="publisher" class="form-label">Publisher</label>
            </div>
            <div>
                <a href="/home" class="btn btn-danger">Cancel</a>
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

</body>

</html>


{% endblock %}